<AuthorizeView Policy="Admin">
    <a class="login-link">Admin Link</a>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <a class="login-link" href="/profile">
            Profile Page</a>
        <a class="login-link" href="/MicrosoftIdentity/Account/SignOut">
            Log Out</a>
    </Authorized>

    <NotAuthorized>
        <a class="login-link" href="/MicrosoftIdentity/Account/SignIn">
            Log In & Sign Up</a>
    </NotAuthorized>
</AuthorizeView>